################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/dotnet-backend/.vs/dotNetCleanArchitectureBack/v17/.suo
