# Environment
ENVIRONMENT=development
SERVER_PORT=8080

# Database
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=pass
DB_NAME=myuniverse

# Security
JWT_SECRET=jwt_key

# Timeouts
READ_TIMEOUT=10
WRITE_TIMEOUT=10